# terraform {
#   backend "s3" {
#     bucket       = "CHANGE_ME"
#     key          = "game/aws/application.tfstate"
#     region       = "CHANGE_ME"
#     use_lockfile = true
#     encrypt      = true
#   }
# }
